In [13]:
###1.	Creating a Data Base using SQLITE package

In [1]:
import sqlite3

In [4]:
db=sqlite3.connect(':memory:')           

cursor=db.cursor()

In [ ]:
###2.	Create a Table with the Name “Ages”

In [5]:


cursor.execute('''
create table Ages(
name varchar(128),
age int)''')

In [6]:
cursor.execute("Delete from Ages")

In [ ]:
###3.	Insert the atleast 5 rows into the table

In [8]:
cursor.execute('''Insert into Ages (name, age) values ('Mara',28)''')
cursor.execute('''Insert into Ages (name, age) values('Otto',33)''' )
cursor.execute('''Insert into Ages (name, age) values ('Fyn',31)''')
cursor.execute('''Insert into Ages  (name, age) values ('Neshawn',17)''')  
cursor.execute('''Insert into Ages (name, age) values ('Komal',30) ''')

In [9]:
cursor.execute('''select * from Ages''')

In [10]:
rows=cursor.fetchall()

for row in rows:
    print(row)

('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)
('Komal', 30)

In [14]:
###4.	Returning the result in the output with the hex encoded value

In [11]:
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [12]:
rows=cursor.fetchall()

for row in rows:
    print(row)

('46796E3331',)
('4B6F6D616C3330',)
('4D6172613238',)
('4E65736861776E3137',)
('4F74746F3333',)